/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * caverna implementation : © Timothée Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * caverna.scss
 *
 * caverna stylesheet
 *
 */

html {
  background-image: url('img/background.jpg');
}

@font-face {
  font-family: 'Dominican';
  src: url('img/fonts/Dominican.woff2') format('woff2'), url('img/fonts/Dominican.woff') format('woff'),
    url('img/fonts/Dominican.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CalibriB';
  src: url('img/fonts/CalibriB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --caverna-font-family: 'Dominican';
}

.disable-dominican {
  --caverna-font-family: Roboto, Arial, sans-serif;
}

@import 'modules/css/variables';
@import 'modules/css/tiles';
@import 'modules/css/buildings';
@import 'modules/css/layout';
@import 'modules/css/meeples';
@import 'modules/css/playerPanel';
@import 'modules/css/flip';
@import 'modules/css/settings';
@import 'modules/css/modals';
@import 'modules/css/animalControl';
@import 'modules/css/nouislider';

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#customActions .bgabutton.disabled,
#expedition-container .bgabutton.disabled {
  opacity: 0.5;
  background: linear-gradient(rgba(189, 189, 189, 0.59), rgba(166, 165, 165, 0.45));
  cursor: not-allowed;
  pointer-events: all;
}

#ebd-body.help-mode {
  .tooltipable {
    cursor: help;
  }
}

.help-marker {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  z-index: 900;
  border: 1px solid black;
  border-radius: 50%;

  svg {
    width: 20px;
    height: 20px;
  }
}

#ebd-body:not(.help-mode) {
  .help-marker {
    opacity: 0;
    pointer-events: none;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

// REMOVE THESE LINES TO REMOVE 3D RIBBON
#page-title:not(.fixed-page-title) {
  margin: 0 50px 20px;
  position: relative;
  background: #eae9e3;

  .ribbon-effect {
    background: #eae9e3;
    position: absolute;
    width: 70px;
    bottom: -12px;
    height: 90%;
    z-index: -1;

    &::before {
      content: '';
      display: block;
      width: 35px;
      height: 100%;
      background: #a2a09a;
      position: absolute;
    }

    &#page-title-left-ribbon {
      left: -35px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 30% 50%);

      &::before {
        right: 0;
        clip-path: polygon(100% 100%, 0% calc(100% - 12px), 100% 0%);
      }
    }

    &#page-title-right-ribbon {
      right: -35px;
      clip-path: polygon(0% 0%, 100% 0%, 70% 50%, 100% 100%, 0% 100%);

      &::before {
        left: 0;
        clip-path: polygon(0% 100%, 100% calc(100% - 12px), 0% 0%);
      }
    }
  }
}

#page-subtitle:empty {
  display: none;
}

#page-subtitle {
  margin: -12px 100px 10px;
  z-index: 0;
  position: relative;
  padding: 5px 15px;
  background: #e3e2dd;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  border-radius: 5px;

  #subtitle-text {
    margin-top: 5px;
    text-align: center;

    .bgabutton {
      margin: 0px 0px 0px 10px;
    }
  }
}

#page-title.fixed-page-title ~ #page-subtitle {
  margin-top: 0px;
}

#logs .log.notif_startNewTurn .roundedbox {
  background: #f2d1ae;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  clip-path: none;
}

#logs {
  .meeple-container {
    font-size: 2em;
  }

  .roundedbox {
    padding: 5px 7px;
    background-color: #fdefe3;
    clip-path: polygon(
      3% 0,
      7% 1%,
      11% 0%,
      16% 2%,
      20% 0,
      23% 2%,
      28% 2%,
      32% 1%,
      35% 1%,
      39% 3%,
      41% 1%,
      45% 0%,
      47% 2%,
      50% 2%,
      53% 0,
      58% 2%,
      60% 2%,
      63% 1%,
      65% 0%,
      67% 2%,
      69% 2%,
      73% 1%,
      76% 1%,
      79% 0,
      82% 1%,
      85% 0,
      87% 1%,
      89% 0,
      92% 1%,
      96% 0,
      98% 3%,
      99% 3%,
      99% 6%,
      100% 11%,
      98% 15%,
      100% 21%,
      99% 28%,
      100% 32%,
      99% 35%,
      99% 40%,
      100% 43%,
      99% 48%,
      100% 53%,
      100% 57%,
      99% 60%,
      100% 64%,
      100% 68%,
      99% 72%,
      100% 75%,
      100% 79%,
      99% 83%,
      100% 86%,
      100% 90%,
      99% 94%,
      99% 98%,
      95% 99%,
      92% 99%,
      89% 100%,
      86% 99%,
      83% 100%,
      77% 99%,
      72% 100%,
      66% 98%,
      62% 100%,
      59% 99%,
      54% 99%,
      49% 100%,
      46% 98%,
      43% 100%,
      40% 98%,
      38% 100%,
      35% 99%,
      31% 100%,
      28% 99%,
      25% 99%,
      22% 100%,
      19% 99%,
      16% 100%,
      13% 99%,
      10% 99%,
      7% 100%,
      4% 99%,
      2% 97%,
      1% 97%,
      0% 94%,
      1% 89%,
      0% 84%,
      1% 81%,
      0 76%,
      0 71%,
      1% 66%,
      0% 64%,
      0% 61%,
      0% 59%,
      1% 54%,
      0% 49%,
      1% 45%,
      0% 40%,
      1% 37%,
      0% 34%,
      1% 29%,
      0% 23%,
      2% 20%,
      1% 17%,
      1% 13%,
      0 10%,
      1% 6%,
      1% 3%
    );
  }
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}
