.caverna-building {
  width: calc(var(--cavernaBuildingScale) * 200px);
  height: calc(var(--cavernaBuildingScale) * 200px);
  position: relative;

  .building-resizable {
    transform: scale(var(--cavernaBuildingScale));
    transform-origin: top left;
    width: 200px;
    height: 200px;
    background-image: url('img/buildings.jpg');
    background-size: 600% 1000%;
    box-sizing: border-box;
    background-origin: border-box;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px 0px #555;
  }

  &.selectable {
    cursor: pointer;

    .building-resizable {
      border: 2px dashed white;
    }

    &:hover {
      transform: scale(1.05);

      .building-resizable {
        border: 2px solid white;
      }
    }
  }
  &.selected .building-resizable {
    border: 2px solid white;
  }

  $buildings: 'BroomChamber' 'FodderChamber' 'FoodChamber' 'MainStorage' 'OreStorage' 'PrayerChamber' 'SparePartStorage'
    'StoneStorage' 'SuppliesStorage' 'TreasureChamber' 'WeaponStorage' 'WritingChamber' 'Blacksmith' 'Builder'
    'Carpenter' 'DogSchool' 'Miner' 'Quarry' 'RubySupplier' 'Seam' 'StoneCarver' 'StoneSupplier' 'Trader' 'WoodSupplier'
    'BeerParlor' 'BlacksmithingParlor' 'BreedingCave' 'CookingCave' 'HuntingParlor' 'MilkingParlor' 'MiningCave'
    'PeacefulCave' 'SlaughteringCave' 'StateParlor' 'WeavingParlor' 'WorkingCave' 'AddDwelling' 'BreakfastRoom'
    'CoupleDwelling' 'CuddleRoom' 'GuestRoom' 'MixedDwelling' 'OfficeRoom' 'SimpleDwelling2' 'SimpleDwelling1'
    'StubbleRoom' 'WorkRoom' 'Dwelling';
  @each $cId in $buildings {
    $i: index($buildings, $cId) - 1;
    &[data-type='#{$cId}'] .building-resizable {
      background-position-x: ($i % 6) * 100% / 5;
      background-position-y: (($i - ($i % 6)) / 6) * 100% / 9;
    }
  }
  &[data-type='StartDwelling'] .building-resizable {
    background: none;
    border: none;

    .building-title {
      margin-top: 3px;
    }
  }

  .building-title {
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-family: var(--caverna-font-family);
  }

  .building-desc {
    height: 85px;
    margin: 57px 14px;
    font-size: 15px;
    font-family: var(--caverna-font-family);

    & > div {
      text-align: center;
    }
  }
}

.board-cell .caverna-building {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 102%;
    height: 22%;
    background: black;
    position: absolute;
    border-radius: 7px 7px 0px 0px;
    left: -1px;
    top: -1px;
  }
  &[data-type='StartDwelling']::before {
    display: none;
  }

  .building-resizable {
    border: none;
    box-shadow: none;
  }
}

/**
 * TOOLTIPS
 */
.action-card-help-tooltip {
  display: flex;
}

.building-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;

  .building-holder {
    height: 220px;
    width: 220px;
    flex-shrink: 0;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#buildings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buildings-board {
  --cavernaBuildingScale: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 926px;
  margin: 5px 0px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 3px -1px black;

  .building-board-left,
  .building-board-right {
    background: url('img/buildings_board_background.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .building-board-left {
    border-radius: 8px 0px 0px 8px;
  }
  .building-board-right {
    border-radius: 0px 8px 8px 0px;
  }

  .building-board-separator {
    width: 66px;
    height: 280px;
    background: url('img/buildings_board_separators.jpg');
    background-size: 400% 100%;
  }
  &[data-id='bonys'] .building-board-separator {
    background-position-x: 0%;
  }
  &[data-id='dwellings'] .building-board-separator {
    background-position-x: 33.33%;
  }
  &[data-id='food'] .building-board-separator {
    background-position-x: 66.66%;
  }
  &[data-id='materials'] .building-board-separator {
    background-position-x: 100%;
  }

  .building-placeholder {
    width: calc(var(--cavernaBuildingScale) * 200px);
    height: calc(var(--cavernaBuildingScale) * 200px);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin: 10px;
  }
}

.building-board-button {
  width: 44px;
  height: 44px;
  background-image: url('img/buildings_board_separators_icons.jpg');
  background-size: 400% 100%;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: transparent;

  @each $board in $buildingBoards {
    $i: index($buildingBoards, $board) - 1;
    &[data-id='#{$board}'] {
      background-position-x: $i * 100% / 3;
    }
  }
}

#floating-building-boards-wrapper {
  position: fixed;
  bottom: calc(-1 * var(--cavernaBuildingBoardScale) * 270px);
  left: 0;
  transition: bottom 0.8s;
  z-index: 10;
  &[data-n='0'] {
    display: none;
  }
  &[data-open] {
    bottom: 0px;
  }

  width: calc(var(--cavernaBuildingBoardScale) * 926px);
  height: calc(var(--cavernaBuildingBoardScale) * 280px);
  box-shadow: 0 0 10px 1px #ff0;
  background-color: rgba(40, 39, 36, 0.78);
  border-top: 1px solid #7c5d45;
  border-right: 1px solid #7c5d45;
  border-top-right-radius: 8px;

  #floating-building-buttons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    .mobile_version & {
      justify-content: flex-start;
    }
    z-index: 2;
    transition: top 0.8s;
    .building-board-button {
      margin: 0px 5px;
      margin-top: -38px;
      cursor: pointer;
      transform: translateY(0);
      transition: transform 0.4s;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
  &[data-open] #floating-buildings-buttons .building-board-button {
    margin-top: -30px;
  }

  #floating-building-slider {
    width: 100%;
    height: 100%;
    margin-top: calc(-1 * var(--cavernaBuildingBoardScale) * 12px);
    padding-top: calc(var(--cavernaBuildingBoardScale) * 12px);
    overflow: hidden;

    #floating-building-boards-container {
      display: flex;
      .buildings-board {
        margin: 0;
        display: none;
      }
    }
  }

  @each $board in $buildingBoards {
    &[data-open='#{$board}'] {
      #floating-building-buttons .building-board-button[data-id='#{$board}'] {
        background: #e6e7e9;
        transform: translateY(-10px);
        color: black;
        &:hover {
          font-size: 32px;
        }
      }

      #floating-building-slider #floating-building-boards-container .buildings-board[data-id='#{$board}'] {
        display: flex;
      }
    }
  }
}
