.action-card-name-reference {
  font-style: italic;
}

[data-player-boards='1'] #player-boards {
  width: calc(var(--cavernaPlayerBoardScale) * 625px + 20px);
}

.player-board-resizable {
  margin: 0px 10px 10px;
  width: calc(var(--cavernaPlayerBoardScale) * 625px);
  height: calc(var(--cavernaPlayerBoardScale) * 450px);
}

.player-board-wrapper {
  width: 625px;
  height: 420px;
  transform: scale(var(--cavernaPlayerBoardScale));
  transform-origin: top left;

  &.harvest .animals-counters .baby-counter {
    display: inline-block;
  }

  .player-board-holder {
    border: 1px solid black;
    border-radius: 10px;
    background-image: url('img/action_frame_bg.jpg');
    background-size: 200px 40px;
    box-shadow: 2px 2px 10px black;

    .player-resource.resource-dog {
      position: absolute;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 7px;
      border: 1px solid black;
      transition: opacity 0.5s;
      opacity: 1;
      font-size: 22px;
      bottom: -14px;
      padding: 2px 3px;

      &[data-n='0'] {
        opacity: 0;
      }

      .reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        & > div.caverna-meeple:not(.moving) {
          display: none;
        }
      }
    }

    .resources-bar-holder {
      position: relative;
      height: 33px;

      .player-board-name {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 15px;
        font-family: var(--caverna-font-family);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 2px 1rem;
        border-radius: 10px;
        border: 1px solid black;
      }
    }

    .caverna-player-board {
      width: 623px;
      height: 382px;
      position: relative;
      border-top: 1px solid black;
      --cavernaBuildingScale: 0.45;

      .player-board-grid {
        background-image: url('img/player-board-small.jpg');
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 8px repeat(3, 4px 90px) 50px repeat(3, 90px 4px) 0px;
        grid-template-rows: 2px repeat(4, 4px 90px) 4px 0px;
        grid-gap: 0px;
        position: relative;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .board-cell {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .caverna-building {
            position: absolute;
          }

          .stable-holder {
            position: absolute;
            top: 0;
            right: 0;
            left: 40%;
            bottom: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          #ebd-body:not(.help-mode) &.selectable {
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0.2);
            &:hover {
              background-color: rgba(255, 0, 0, 0.3);
            }
          }

          #ebd-body:not(.help-mode) &.selected {
            background-color: rgba(0, 255, 0, 0.5);
            &:hover {
              background-color: rgba(0, 255, 0, 0.9);
            }
          }
        }
      }

      &.office-room {
        height: 427px;
        --cavernaBuildingScale: 0.35;

        .player-board-grid {
          background-image: url('img/player-board.jpg');
          background-size: 90% 90%;
          grid-template-columns: 70px repeat(3, 4px 70px) 40px repeat(3, 70px 4px) 70px;
          grid-template-rows: 70px repeat(4, 1px 70px) 1px 70px;
          background-repeat: no-repeat;
          background-position: 31px 31px;

          // background-image: url("img/player-board-small.jpg");
          // background-size: 72% 69%;
          // grid-template-columns: 70px repeat(3, 4px 70px) 40px repeat(3, 70px 4px) 70px;
          // grid-template-rows: 70px repeat(4, 1px 70px) 1px 70px;
          // background-repeat: no-repeat;
          // background-position: 89px 64px;
        }
      }
    }
  }

  .animals-counters {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 20px;
    padding-right: 110px;
    height: 30px;
    padding-top: 2px;

    .player-resource {
      margin: 2px 5px 0px;
      background: rgba(255, 255, 255, 0.47);
      padding: 0px 9px;
      border-radius: 7px;
      border: 1px solid black;
      transition: opacity 0.5s;
      opacity: 1;
      position: relative;

      &[data-n='0'] {
        opacity: 0;
      }

      .reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        & > div.caverna-meeple:not(.moving) {
          display: none;
        }
      }
    }

    .baby-counter {
      font-size: 0.75em;
      vertical-align: middle;
      display: none;
    }
  }
}

#player-boards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
