#add-board-holder {
  display: none;
  position: absolute;
  z-index: 2;

  width: calc(var(--cavernaCentralBoardScale) * 156px);
  height: calc(var(--cavernaCentralBoardScale) * 340px);
  top: calc(var(--cavernaCentralBoardScale) * 615px);

  [data-players='1'] & {
    display: none;
  }

  #game_play_area[data-additional='1'] & {
    display: block;
  }

  [data-players='2'] & {
    height: calc(var(--cavernaCentralBoardScale) * 614px);
    top: 0px;
    position: relative;
  }

  [data-players='3'] & {
    top: calc(var(--cavernaCentralBoardScale) * 530px);
  }
}

#add-board {
  width: 156px;
  height: 340px;
  background-image: url('img/add_34p.png');
  background-size: 100% auto;
  transform: scale(var(--cavernaCentralBoardScale));
  transform-origin: top left;

  border: 1px dashed white;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  [data-players='2'] & {
    height: 614px;
    background-image: url('img/add_2p.png');
    background-size: 100% auto;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

#left-board-holder {
  width: calc(var(--cavernaCentralBoardScale) * 156px);
  height: calc(var(--cavernaCentralBoardScale) * 679px);

  [data-players='1'] &,
  [data-players='2'] & {
    display: none;
  }

  [data-additional='1'][data-players='3'] & {
    height: calc(var(--cavernaCentralBoardScale) * 637px);
  }
  [data-players='4'] & {
    height: calc(var(--cavernaCentralBoardScale) * 614px);
  }
}
#left-board {
  width: 156px;
  height: 679px;
  background-image: url('img/left_3p.png');
  background-size: 100% auto;
  position: relative;
  transform: scale(var(--cavernaCentralBoardScale));
  transform-origin: top left;

  [data-additional='1'][data-players='3'] & {
    height: 637px;
  }
  [data-players='4'] & {
    background-image: url('img/left_4p.png');
    height: 614px;
  }
}

#central-board-holder {
  width: calc(var(--cavernaCentralBoardScale) * 830px);
  //  height: calc(var(--cavernaCentralBoardScale) * 795px);
}

#central-board {
  width: 830px;
  //  height: 795px; TODO
  transform: scale(var(--cavernaCentralBoardScale));
  transform-origin: top left;
  background-image: url('img/central.png');
  background-size: 100% auto;
  position: relative;

  // TODO : remove
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-columns: repeat(5, 1fr);

  // TODO
  // #modal-buttons-holder {
  //   position: absolute;
  //   left: 679px;
  //   top: 326px;
  //   background-image: url('img/action_frame_bg.jpg');
  //   background-size: 100% 10px;
  //   box-shadow: 2px 2px 5px -1px black;
  //   background-color: transparent;
  //   border-radius: 13px;
  //   padding: 7px;
  //   display: flex;
  //   border: 2px solid black;
  //
  //   #majors-button,
  //   #hand-button {
  //     position: relative;
  //     width: 60px;
  //     height: 60px;
  //     background-image: url('img/majors_icon.png');
  //     background-size: 100%;
  //     cursor: pointer;
  //
  //     &:hover {
  //       transform: scale(1.1);
  //     }
  //   }
  //   #hand-button {
  //     background-image: url('img/hand_icon.png');
  //     margin-left: 10px;
  //   }
  // }

  .turn-action-container {
    width: 140px;
    height: 140px;
    position: absolute;
    // TODO : remove
    display: none;

    .future-resources-holder {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      pointer-events: none;

      .resource-holder-update {
        flex-basis: 40%;
        min-height: 10%;
        border-radius: 10px;
        border: 1px solid black;
        opacity: 1;
        transition: opacity 0.5s;
        padding: 4px;
        box-sizing: border-box;

        &[data-n='0'] {
          opacity: 0;
        }

        &[data-color='ff0000'] {
          background-color: #ff00007d;
        }
        &[data-color='008000'] {
          background-color: #0080007d;
        }
        &[data-color='72c3b1'] {
          background-color: #72c3b17d;
        }
        &[data-color='982fff'] {
          background-color: #982fff7d;
        }
        &[data-color='7b7b7b'] {
          background-color: #b3acac7d;
        }
        // TODO
      }
    }

    @for $i from 1 to 15 {
      [data-turn='#{$i}'] &#turn_#{$i} .action-card-holder {
        border: 1px solid #fffb00;
      }
    }
  }

  .harvest-slot {
    position: absolute;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 2px 4px;
    width: 35px;
    height: 28px;
    z-index: 12;
  }
}

.harvest-icon {
  background-image: url('img/meeples.png');
  background-position: 8.62866% 21.8543%;
  background-size: 2027.72%;
  width: 35px;
  height: 28px;
  transition: transform 1s;
  transform-origin: center center;
  transform: scale(1);
}

.action-card-holder {
  width: 150px;
  height: 180px;
  box-shadow: 2px 2px 6px -1px black;
  border-radius: 10px;
  position: relative;

  #ebd-body:not(.help-mode) & {
    &.selectable {
      cursor: pointer;
      &:hover {
        transform: scale(1.15);
        position: relative;
        z-index: 20;
      }
      .action-card {
        filter: none;
      }
    }
  }

  #ebd-body:not(.help-mode) &.unselectable {
    cursor: not-allowed;
  }

  #ebd-body:not(.help-mode):not(.mobile_version) &.unselectable {
    filter: grayscale(75%);
  }

  .dwarf-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 25;

    &:not(:empty) {
      background: #c8c8c875;

      #ebd-body:not(.mobile_version) & ~ .action-card {
        filter: grayscale(75%);
      }
    }
  }

  .resource-holder {
    position: absolute;
    z-index: 20;
    // TODO : remove
    bottom: 30px;
    left: 30px;
    padding: 4px;
    font-size: 30px;
    background-color: rgba(230, 216, 142, 0.9);
    border: 1px solid #222;
    border-radius: 5px;
    display: flex;
    flex-flow: column-reverse;

    .caverna-meeple {
      margin: -0.6em auto 0;

      &:last-child {
        margin: 0;
      }
    }
    @for $i from 1 to 6 {
      &[data-n='#{$i}'] .caverna-meeple {
        margin-top: -#{0.38 + $i * 0.03}em;
        &:last-child {
          margin: 0;
        }
      }
    }

    &::before {
      content: attr(data-n);
      display: block;
      width: 19px;
      height: 19px;
      position: absolute;
      bottom: -13px;
      right: -13px;
      background-color: #f9a63b;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      border: 1px solid black;
      font-size: 14px;
      font-weight: bold;
      z-index: 200;
      color: black;
    }
  }

  /*
   * ACTION CARD FRAME
   */
  .action-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 10;
    border-radius: 10px;

    background-image: url('img/background_card.jpg');
    background-size: 100% 100%;
    border: 1px solid black;

    /*
    &.action-card {
      width: 134px;
      height: auto; // ~75px
      left: 3px;

      & ~ .farmer-holder {
        align-items: flex-end;
        .caverna-farmer {
          transform: scale(0.75);
        }
      }
    }
    */

    .action-header {
      padding-top: 4px;
      height: 32px;
      flex-shrink: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      font-family: var(--caverna-font-family);
    }

    .action-desc {
      text-align: center;
      font-size: 11px;
      font-family: var(--caverna-font-family);
    }

    .action-background {
      background-image: url('img/action_cards.jpg');
      background-size: 700% 700%;
      height: 144px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  $actionCards: 'ActionAdventure' 'ActionBlacksmithing' 'ActionClearing4' 'ActionClearing' 'ActionDepot'
    'ActionDonkeyFarming' 'ActionDriftMining4' 'ActionDriftMining' 'ActionExcavation4' 'ActionExcavation'
    'ActionExploration' 'ActionExtension' 'ActionFamilyLife' 'ActionFenceBuilding6' 'ActionFenceBuilding'
    'ActionForestExploration3' 'ActionForestExploration' 'ActionHardwareRental6' 'ActionHardwareRental'
    'ActionHousework' 'ActionImitation' 'ActionLargeDepot' 'ActionLogging4' 'ActionLogging' 'ActionOreDelivery'
    'ActionOreMineConstruction' 'ActionOreMining4' 'ActionOreMining' 'ActionOreTrading' 'ActionRubyDelivery'
    'ActionRubyMineConstruction' 'ActionRubyMining' 'ActionSheepFarming' 'ActionSlash' 'ActionSmallDriftMining'
    'ActionFirstPlayer4' 'ActionFirstPlayer' 'ActionStripMining' 'ActionGrowth' 'ActionSupplies' 'ActionSustenance4'
    'ActionSustenance' 'ActionUrgentWish' 'ActionWeeklyMarket' 'ActionWishChildren' 'ActionWoodGathering';
  @each $cId in $actionCards {
    $i: index($actionCards, $cId) - 1;
    &[data-id='#{$cId}'] .action-card .action-background {
      background-position-x: ($i % 7) * 100% / 6;
      background-position-y: (($i - ($i % 7)) / 7) * 100% / 6;
    }
  }

  &[data-id='ActionImitation5'] {
    background-position-x: 100%;
    background-position-y: 33.3333333333%;
  }

  &[data-id='ActionImitation7'] {
    background-position-x: 100%;
    background-position-y: 33.3333333333%;
  }

  &[data-id='ActionRubyMining'] {
    .action-desc {
      text-align: left;
      margin-top: 34px;

      & > div:nth-child(1) {
        text-align: center;
        margin-left: 6px;
        width: 53px;
        height: 35px;
        font-size: 7px;
        line-height: 10px;
      }
      & > div:nth-child(2) {
        text-align: right;
        margin-top: 33px;
        margin-left: 5px;
        width: 67px;
        font-size: 10px;
        line-height: 10px;
      }
    }

    .resource-holder {
      bottom: 83px;
      left: 92px;
    }
  }
  &[data-id='ActionHousework'] {
    .action-desc {
      margin-top: 58px;
    }
  }

  &[data-id='ActionBlacksmithing'] {
    .action-desc {
      margin-top: 65px;
    }
  }
  &[data-id='ActionOreMineConstruction'] {
    .action-desc {
      margin-top: 65px;
    }
  }
  &[data-id='ActionSheepFarming'] {
    .action-desc {
      margin-top: 72px;
    }

    .resource-holder {
      bottom: 12px;
      left: 92px;
    }
  }
  &[data-id='ActionDonkeyFarming'] {
    .action-desc {
      margin-top: 72px;
    }

    .resource-holder {
      bottom: 12px;
      left: 92px;
    }
  }
  &[data-id='ActionRubyMineConstruction'] {
    .action-desc {
      margin-top: 65px;
    }
  }
  &[data-id='ActionOreDelivery'],
  &[data-id='ActionOreMining'],
  &[data-id='ActionOreMining4'] {
    .action-desc {
      margin-top: 102px;
      text-align: left;
      & > div:nth-child(1) {
        text-align: right;
        margin-left: 5px;
        width: 72px;
        font-size: 14px;
      }
    }

    .resource-holder {
      bottom: 83px;
      left: 92px;
    }
  }
  &[data-id='ActionFamilyLife'] {
    .action-desc {
      margin-top: 59px;
    }
  }
  &[data-id='ActionAdventure'] {
    .action-desc {
      margin-top: 71px;
    }
  }
  &[data-id='ActionRubyDelivery'] {
    .action-desc {
      text-align: left;
      margin-top: 102px;

      & > div:nth-child(1) {
        text-align: right;
        margin-left: 5px;
        width: 67px;
        font-size: 10px;
        line-height: 10px;
      }
    }

    .resource-holder {
      bottom: 83px;
      left: 92px;
    }
  }
  &[data-id='ActionSlash'] {
    .action-desc {
      margin-top: 63px;
    }
  }
  &[data-id='ActionClearing'],
  &[data-id='ActionClearing4'],
  &[data-id='ActionDriftMining'],
  &[data-id='ActionDriftMining4'],
  &[data-id='ActionExcavation'],
  &[data-id='ActionExcavation4'] {
    .action-desc {
      margin-top: 52px;
    }

    .resource-holder {
      bottom: 96px;
      left: 100px;
    }
  }
  &[data-id='ActionFirstPlayer'] {
    .resource-holder {
      bottom: 86px;
      left: 95px;
    }
  }
  &[data-id='ActionLogging'],
  &[data-id='ActionLogging4'] {
    .action-desc {
      margin-top: 69px;
    }

    .resource-holder {
      bottom: 86px;
      left: 104px;
    }
  }
  &[data-id='ActionSustenance'],
  &[data-id='ActionSustenance4'] {
    .action-desc {
      margin-top: 64px;
      font-size: 10px;
    }

    .resource-holder {
      bottom: 95px;
      left: 99px;
    }
  }
}

[data-actionCardName='0'] #central-board .action-card-holder {
  height: 144px;

  .action-card {
    .action-header {
      display: none;
    }

    .action-background {
      border-radius: 10px;
    }
  }
}

/**
 * TOOLTIPS
 */
.action-card-help-tooltip {
  display: flex;
}

.action-card-tooltip {
  display: flex;

  .action-holder {
    height: 280px;
    width: 250px;
    flex-shrink: 0;
    margin-right: 5px;

    .action-card-holder {
      position: initial;
      transform: scale(1.5);
      transform-origin: top center;
      margin: auto;
    }
  }
}
