#left-side {
  margin-left: 0px !important;
  margin-right: 250px;
}

#right-side {
  width: 250px;
  margin-left: -250px;
}

#position-wrapper {
  position: relative;
  display: flex;

  #main-boards {
  }
}

@import 'layout.central';
@import 'layout.playerBoard';
