#left-side {
  margin-left: 0px !important;
  margin-right: 250px;
}

#right-side {
  width: 250px;
  margin-left: -250px;
}

#position-wrapper {
  position: relative;

  #main-boards {
    width: 100%;
    height: calc(var(--cavernaCentralBoardScale) * 795px);
    display: flex;

    [data-additional='1'][data-players='4'] & {
      height: calc(var(--cavernaCentralBoardScale) * 965px);
    }
    [data-additional='1'][data-players='3'] & {
      height: calc(var(--cavernaCentralBoardScale) * 890px);
    }
  }
}

@import 'layout.draft';
@import 'layout.central';
@import 'layout.playerBoard';
