#central-board-holder {
  width: calc(var(--cavernaCentralBoardScale) * 915px);
}

#central-board {
  width: 915px;
  transform: scale(var(--cavernaCentralBoardScale));
  transform-origin: top left;

  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 3px;

  .action-card-wrapper {
    width: 195px;
    height: 211px;
    padding: 12px 18px;
    box-sizing: border-box;
    background-image: url('img/action_cards_border.png');
    margin-left: -12px;
    margin-top: -13px;
    order: 1;
  }

  .turn-action-container {
    position: relative;
    order: 2;

    .turn-number {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;

      .turn-number-indication {
        width: 115px;
        height: 35.5px;
        background: url('img/turn_number_frame.png');
        background-size: 100%;
        text-align: center;
        font-family: var(--caverna-font-family);
        font-size: 18px;
        line-height: 33px;
      }

      .stage-helper {
        position: relative;
        margin-top: 3px;
        height: 24px;
        width: 10px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 13px;
        border: 1px solid #004f00;
        font-size: 17px;
        line-height: 24px;
        padding-right: 26px;
        padding-left: 7px;

        .help-marker {
          opacity: 1;
          pointer-events: all;
          bottom: 3%;
          right: 3%;
          left: auto;
          top: auto;
        }
      }
    }

    .future-resources-holder {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      pointer-events: none;

      .resource-holder-update {
        flex-basis: 40%;
        min-height: 10%;
        border-radius: 10px;
        border: 1px solid black;
        opacity: 1;
        transition: opacity 0.5s;
        padding: 4px;
        box-sizing: border-box;

        &[data-n='0'] {
          opacity: 0;
        }

        &[data-color='ff0000'] {
          background-color: #ff00007d;
        }
        &[data-color='008000'] {
          background-color: #0080007d;
        }
        &[data-color='72c3b1'] {
          background-color: #72c3b17d;
        }
        &[data-color='982fff'] {
          background-color: #982fff7d;
        }
        &[data-color='7b7b7b'] {
          background-color: #b3acac7d;
        }
        // TODO
      }
    }

    @for $i from 1 to 15 {
      [data-turn='#{$i}'] &#turn_#{$i} .action-card-holder {
        border: 2px solid #fffb00;
      }
    }
  }

  .harvest-slot {
    position: absolute;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 2px 4px;
    width: 35px;
    height: 28px;
    z-index: 12;
  }
}

.harvest-icon {
  background-image: url('img/meeples.png');
  background-position: 8.62866% 21.8543%;
  background-size: 2027.72%;
  width: 35px;
  height: 28px;
  transition: transform 1s;
  transform-origin: center center;
  transform: scale(1);
}

.action-card-holder {
  width: 150px;
  height: 180px;
  box-shadow: 2px 2px 6px -1px black;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;

  #ebd-body:not(.help-mode) & {
    &.selectable {
      cursor: pointer;
      &:hover {
        transform: scale(1.15);
        position: relative;
        z-index: 20;
      }
      .action-card {
        filter: none !important;
      }
    }
  }

  #ebd-body:not(.help-mode) &.unselectable {
    cursor: not-allowed;
  }

  #ebd-body:not(.help-mode):not(.mobile_version) &.unselectable .action-card {
    filter: grayscale(75%);
  }

  .dwarf-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 25;

    &:not(:empty) {
      background: #c8c8c875;

      #ebd-body:not(.mobile_version) & ~ .action-card {
        filter: grayscale(75%);
      }
    }
  }

  .resource-holder {
    position: absolute;
    z-index: 20;
    // TODO : remove
    bottom: 30px;
    left: 30px;
    padding: 4px;
    font-size: 30px;
    background-color: rgba(249, 246, 127, 0.9);
    border: 1px solid #222;
    border-radius: 5px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    box-shadow: 2px 2px 2px -1px black;
    min-width: 10px;
    min-height: 10px;

    .caverna-meeple {
      margin: -0.6em auto 0;

      &:last-child {
        margin: 0;
      }
    }
    @for $i from 1 to 6 {
      &[data-n='#{$i}'] .caverna-meeple {
        margin-top: -#{0.38 + $i * 0.03}em;
        &:last-child {
          margin: 0;
        }
      }
    }

    &::before {
      content: attr(data-n);
      display: block;
      width: 19px;
      height: 19px;
      position: absolute;
      bottom: -13px;
      right: -13px;
      background-color: #eeb124;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      border: 1px solid black;
      font-size: 14px;
      font-weight: bold;
      z-index: 200;
      color: black;
      box-shadow: 2px 2px 3px -1px black;
    }
  }

  /*
   * ACTION CARD FRAME
   */
  .action-card {
    width: 150px;
    height: 180px;
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 10;
    border-radius: 10px;

    background-image: url('img/background_card.jpg');
    background-size: 100% 100%;
    border: 1px solid black;
    box-sizing: border-box;

    /*
    &.action-card {
      width: 134px;
      height: auto; // ~75px
      left: 3px;

      & ~ .farmer-holder {
        align-items: flex-end;
        .caverna-farmer {
          transform: scale(0.75);
        }
      }
    }
    */

    .action-header {
      padding-top: 4px;
      height: 32px;
      flex-shrink: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      font-family: var(--caverna-font-family);
    }

    .action-desc {
      text-align: center;
      font-size: 11px;
      font-family: var(--caverna-font-family);
    }

    .action-background {
      background-image: url('img/action_cards.jpg');
      background-size: 700% 700%;
      height: 144px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  $actionCards: 'ActionAdventure' 'ActionBlacksmithing' 'ActionClearing4' 'ActionClearing' 'ActionDepot'
    'ActionDonkeyFarming' 'ActionDriftMining4' 'ActionDriftMining' 'ActionExcavation4' 'ActionExcavation'
    'ActionExploration' 'ActionExtension' 'ActionFamilyLife' 'ActionFenceBuilding6' 'ActionFenceBuilding'
    'ActionForestExploration3' 'ActionForestExploration' 'ActionHardwareRental6' 'ActionHardwareRental'
    'ActionHousework' 'ActionImitation' 'ActionLargeDepot' 'ActionLogging4' 'ActionLogging' 'ActionOreDelivery'
    'ActionOreMineConstruction' 'ActionOreMining4' 'ActionOreMining' 'ActionOreTrading' 'ActionRubyDelivery'
    'ActionRubyMineConstruction' 'ActionRubyMining' 'ActionSheepFarming' 'ActionSlash' 'ActionSmallDriftMining'
    'ActionFirstPlayer4' 'ActionFirstPlayer' 'ActionStripMining' 'ActionGrowth' 'ActionSupplies' 'ActionSustenance4'
    'ActionSustenance' 'ActionUrgentWishChildren' 'ActionWeeklyMarket' 'ActionWishChildren' 'ActionWoodGathering';
  @each $cId in $actionCards {
    $i: index($actionCards, $cId) - 1;
    &[data-id='#{$cId}'] .action-card .action-background {
      background-position-x: ($i % 7) * 100% / 6;
      background-position-y: (($i - ($i % 7)) / 7) * 100% / 6;
    }
  }

  &[data-id='ActionImitation5'] .action-card .action-background {
    background-position-x: 100%;
    background-position-y: 33.3333333333%;
  }

  &[data-id='ActionImitation7'] .action-card .action-background {
    background-position-x: 100%;
    background-position-y: 33.3333333333%;
  }

  &[data-id='ActionRubyMining'] {
    .action-desc {
      text-align: left;
      margin-top: 34px;

      & > div:nth-child(1) {
        text-align: center;
        margin-left: 6px;
        width: 53px;
        height: 35px;
        font-size: 7px;
        line-height: 10px;
      }
      & > div:nth-child(2) {
        text-align: right;
        margin-top: 33px;
        margin-left: 5px;
        width: 67px;
        font-size: 10px;
        line-height: 10px;
      }
    }

    .resource-holder {
      bottom: 83px;
      left: 92px;
    }
  }
  &[data-id='ActionHousework'] {
    .action-desc {
      margin-top: 58px;
    }
  }

  &[data-id='ActionBlacksmithing'] {
    .action-desc {
      margin-top: 65px;
    }
  }
  &[data-id='ActionOreMineConstruction'] {
    .action-desc {
      margin-top: 65px;
    }
  }
  &[data-id='ActionSheepFarming'] {
    .action-desc {
      margin-top: 72px;
    }

    .resource-holder {
      bottom: 12px;
      left: 92px;
    }
  }
  &[data-id='ActionDonkeyFarming'] {
    .action-desc {
      margin-top: 72px;
    }

    .resource-holder {
      bottom: 12px;
      left: 92px;
    }
  }
  &[data-id='ActionRubyMineConstruction'] {
    .action-desc {
      margin-top: 65px;
    }
  }
  &[data-id='ActionOreDelivery'],
  &[data-id='ActionOreMining'],
  &[data-id='ActionOreMining4'] {
    .action-desc {
      margin-top: 102px;
      text-align: left;
      & > div:nth-child(1) {
        text-align: right;
        margin-left: 5px;
        width: 72px;
        font-size: 14px;
      }
    }

    .resource-holder {
      bottom: 83px;
      left: 92px;
    }
  }
  &[data-id='ActionFamilyLife'] {
    .action-desc {
      margin-top: 59px;
    }
  }
  &[data-id='ActionAdventure'] {
    .action-desc {
      margin-top: 71px;
    }
  }
  &[data-id='ActionRubyDelivery'] {
    .action-desc {
      text-align: left;
      margin-top: 102px;

      & > div:nth-child(1) {
        text-align: right;
        margin-left: 5px;
        width: 67px;
        font-size: 10px;
        line-height: 10px;
      }
    }

    .resource-holder {
      bottom: 83px;
      left: 92px;
    }
  }
  &[data-id='ActionSlash'] {
    .action-desc {
      margin-top: 63px;
    }
  }
  &[data-id='ActionClearing'],
  &[data-id='ActionClearing4'],
  &[data-id='ActionDriftMining'],
  &[data-id='ActionDriftMining4'],
  &[data-id='ActionExcavation'],
  &[data-id='ActionExcavation4'] {
    .action-desc {
      margin-top: 52px;
    }

    .resource-holder {
      bottom: 96px;
      left: 100px;
    }
  }
  &[data-id='ActionFirstPlayer'] {
    .resource-holder {
      bottom: 86px;
      left: 95px;
    }
  }
  &[data-id='ActionLogging'],
  &[data-id='ActionLogging4'] {
    .action-desc {
      margin-top: 69px;
    }

    .resource-holder {
      bottom: 86px;
      left: 104px;
    }
  }
  &[data-id='ActionSustenance'],
  &[data-id='ActionSustenance4'] {
    .action-desc {
      margin-top: 64px;
      font-size: 10px;
    }

    .resource-holder {
      bottom: 95px;
      left: 99px;
    }
  }
}

[data-actionCardName='0'] #central-board .action-card-holder {
  height: 144px;

  .action-card {
    .action-header {
      display: none;
    }

    .action-background {
      border-radius: 10px;
    }
  }
}

/**
 * TOOLTIPS
 */
.action-card-help-tooltip {
  display: flex;
}

.action-card-tooltip {
  display: flex;

  .action-holder {
    height: 280px;
    width: 250px;
    flex-shrink: 0;
    margin-right: 5px;

    .action-card-holder {
      position: initial;
      transform: scale(1.5);
      transform-origin: top center;
      margin: auto;
    }
  }
}
