#game_play_area {
  font-size: 30px;
}

.meeple-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1.3em;
}

.caverna-meeple {
  background-image: url('img/meeples.png');
  background-repeat: no-repeat;

  &.meeple-score {
    width: 0.7em;
    height: 0.93em;
    background-position: 41.1215% 0%;
    background-size: 609.524%;
  }
  &.meeple-gold {
    width: 0.78em;
    height: 0.78em;
    background-position: 17.2414% 0%;
    background-size: 483.019%;
  }

  &.meeple-wood {
    width: 0.6em;
    height: 0.78em;
    background-position: 97.5664% 32.0276%;
    background-size: 853.333%;
  }

  &.meeple-stone {
    width: 0.64em;
    height: 0.8em;
    background-position: 41.0714% 32.1759%;
    background-size: 800%;
  }

  &.meeple-ore {
    width: 0.91em;
    height: 0.7062em;
    background-position: 39.3665% 48.2533%;
    background-size: 731.429%;
  }

  &.meeple-ruby {
    width: 0.9154em;
    height: 0.693em;
    background-position: 55.2036% 48.1481%;
    background-size: 731.429%;
  }

  &.meeple-food {
    width: 0.8em;
    height: 0.8em;
    background-position: 24.0741% 32.1759%;
    background-size: 640%;
  }

  &.meeple-grain {
    width: 0.75em;
    height: 0.79em;
    background-position: 56.7506% 32.1016%;
    background-size: 682.667%;
  }

  &.meeple-vegetable {
    width: 0.82em;
    height: 0.8em;
    background-position: 22.4771% 50.4566%;
    background-size: 673.684%;
  }

  &.meeple-sheep {
    width: 0.98em;
    height: 0.76em;
    background-position: 0% 50.6881%;
    background-size: 522.449%;
  }

  &.meeple-pig {
    width: 1.118em;
    height: 0.77em;
    background-position: 81.9797% 32.0276%;
    background-size: 433.898%;
  }

  &.meeple-cattle {
    width: 1.104em;
    height: 0.82em;
    background-position: 0% 32.3256%;
    background-size: 492.308%;
  }

  &.meeple-donkey {
    width: 1.04em;
    height: 0.87em;
    background-position: 80.3922% 0%;
    background-size: 492.308%;
  }
  &.meeple-dog {
    width: 0.68em;
    height: 0.9em;
    background-position: 58.5586% 0%;
    background-size: 752.941%;
  }

  &.meeple-first {
    width: 0.4em;
    height: 0.9em;
    background-position: 0% 0%;
    background-size: 731.429%;
  }

  &.meeple-begging {
    width: 1.1em;
    height: 1.1em;
    background-position: 100% 0%;
    background-size: 640%;
  }

  &.meeple-cook {
    width: 2em;
    height: 1.1em;
    background-position: 70.2461% 46.2343%;
    background-size: 787.692%;

    #anytimeActions & {
      margin: 0em -0.4em;
    }
  }

  &.meeple-barn {
    background-image: url('img/stables.png');
    background-size: 700% 100%;
    background-position-x: 100%;
    width: 0.8em;
    height: 1.1em;
  }
  &.meeple-dwarf_icon {
    background-image: url('img/dwarves.png');
    background-size: 700% 100%;
    width: 1.4483em;
    height: 1.2em;
  }
}

.meeple-dwarf,
.meeple-stable {
  width: 35px;
  height: 29px;
  background-image: url('img/dwarves.png');
  .colorblind & {
    background-image: url('img/dwarves_colorblind.png');
  }
  background-size: 700% 100%;
  position: relative;
  z-index: 100;

  &.meeple-stable {
    width: 24px;
    height: 31px;
    background-image: url('img/stables.png');
  }

  &[data-color='ff0000'],
  .player-ff0000 & {
    background-position-x: 0%;
  }
  &[data-color='008000'],
  .player-008000 & {
    background-position-x: 16.6666%;
  }
  &[data-color='72c3b1'],
  .player-72c3b1 & {
    background-position-x: 33.33333%;
  }
  &[data-color='982fff'],
  .player-982fff & {
    background-position-x: 50%;
  }
  &[data-color='aa9702'],
  .player-aa9702 & {
    background-position-x: 66.66666%;
  }
  &[data-color='df7605'],
  .player-df7605 & {
    background-position-x: 83.3333%;
  }
  &[data-color='2a05df'],
  .player-2a05df & {
    background-position-x: 100%;
  }
}

.meeple-dwarf {
  width: 35px;
  height: 29px;
  transform-origin: bottom center;
  transition: transform 1s;
  transform: scale(1);
  position: relative;
  padding: 1px 2px;
  box-sizing: border-box;

  &.child {
    transform: scale(0.7);
  }
}

.meeple-weapon {
  width: 31px;
  height: 21px;
  background-image: url('img/weapons.png');
  background-size: 700% 200%;

  @for $i from 1 through 7 {
    &[data-force='#{$i}'] {
      background-position: ($i - 1) * 100% / 6 0%;
    }
  }
  @for $i from 8 through 14 {
    &[data-force='#{$i}'] {
      background-position: ($i - 8) * 100% / 6 100%;
    }
  }
}

.meeple-firstPlayer {
  width: 0.4em;
  height: 0.8em;
  font-size: 44px;
  background-image: url('img/meeples.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 731.429%;
}

// SWITCH for the SOW action
.switch-wrapper {
  width: 100px;
  height: 33.33px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 1px solid black;
  position: relative;
  display: flex;
  box-sizing: border-box;

  &.wood-switch {
    width: 66.66px;
  }

  label {
    width: 33.33%;
    height: 100%;
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.5s;
  }
  &.wood-switch label {
    width: 50%;
  }

  input[type='radio'] {
    display: none;

    &:disabled + label {
      filter: grayscale(1);
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  .switch-ball {
    width: 33%;
    height: 100%;
    position: absolute;
    transition: left 0.5s, background 0.5s;
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    border: 1px solid rgba(0, 0, 0, 1);
    box-sizing: border-box;
  }
  &.wood-switch .switch-ball {
    width: 50%;
  }

  .switch-grain:checked ~ .switch-ball {
    background: #f8ff00d9;
    left: 0%;
  }

  .switch-neutral:checked ~ .switch-ball {
    background: rgba(220, 220, 220, 0.7);
    left: 33.33%;
  }

  .switch-vegetable:checked ~ .switch-ball {
    left: 66.66%;
    background: rgba(225, 142, 36, 0.77);
  }
}
