/**
 * Generic modals
 */
.caverna_popin,
.cavernaBuilding_popin {
  width: 80%;
  position: relative;

  .closeicon {
    background-color: #60322e;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 100%;
    color: white !important;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }
}

.caverna_popin:not(#popin_showScores),
.cavernaBuilding_popin {
  z-index: 2000;
  width: 500px;
  display: flex;
  flex-flow: column;

  background-image: url('img/action_frame_bg_alt.jpg');
  background-size: 324px auto;
  background-clip: content-box;
  padding: 7px 2px;
  border-radius: 20px;
  position: relative;
  &::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: 1px solid transparent;
    border-image-slice: 68 164 68 154;
    border-image-width: 34px 82px 34px 77px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url('img/action_frame_panel.png');
    box-shadow: none;
    background-color: transparent;
    border-radius: 20px;
    pointer-events: none;
  }

  h2 {
    background-color: white;
    border-bottom: 1px solid #6a4b2f;
    font-family: var(--caverna-font-family);
    margin: 4px 3px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: center;
    font-size: 20px;
    padding: 7px;
  }

  .closeicon {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 13px;
    font-size: 0.75em;
  }
}

.cavernaBuilding_popin_container {
  .cavernaBuilding_popin_underlay {
    background: black !important;
  }

  .cavernaBuilding_popin {
    width: 600px;
    --cavernaBuildingScale: 1;

    .building-detail {
      padding: 0px 15px 10px;

      .building-tooltip {
        .building-holder {
          margin-right: 15px;
        }
      }
    }

    .building-details-footer {
      min-height: 30px;
      background-color: #e6e6e6d1;
      border-top: 1px solid #6a4b2f;
      margin: 0px 5px 4px;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;
      text-align: right;
      padding: 0px 10px;
    }
  }
}

#popin_showExpedition.caverna_popin {
  min-height: 300px;
  width: 750px;

  #expedition-header {
    background-color: #ffffffc2;
    border-bottom: 1px solid #6a4b2f;
    font-family: var(--cavernatisaac-font-family);
    margin: -4px 3px 3px;
    text-align: center;
    font-size: 17px;
    padding: 7px;
    display: none;
  }

  #expedition-footer {
    min-height: 50px;
    background-color: #e6e6e6d1;
    border-top: 1px solid #6a4b2f;
    margin: 0px 5px 4px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    text-align: right;
    padding: 0px 10px;
    display: none;
  }

  &.action {
    #expedition-header,
    #expedition-footer {
      display: block;
    }
  }

  #expedition-container {
    display: flex;
    margin-bottom: 5px;

    & > div {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      padding: 0px 12px;
      &:first-child {
        flex-basis: 45%;
        align-self: center;

        div.expedition-lvl {
          padding: 7px 0px;
        }
      }
      &:last-child {
        flex-basis: 55%;
        border-left: 1px solid black;
      }

      div.expedition-lvl {
        flex-basis: 100%;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #00000082;
        &[data-lvl='7'],
        &[data-lvl='8'],
        &[data-lvl='14'] {
          border-bottom: none;
        }

        &[data-lvl='5'],
        &[data-lvl='6'],
        &[data-lvl='7'],
        &[data-lvl='8'] {
          flex-basis: 48%;
        }

        &[data-lvl='6'],
        &[data-lvl='8'] {
          padding-left: 4%;
        }

        div.expedition-lvl-weapon {
          width: 50px;
          height: 50px;
          flex-shrink: 0;
          background-image: url('img/weapons-flat.jpg');
          background-size: 700% 200%;
          border-radius: 50%;
          box-shadow: 1px 2px 5px -2px black;

          @for $i from 1 through 7 {
            &[data-force='#{$i}'] {
              background-position: ($i - 1) * 100% / 6 0%;
            }
          }
          @for $i from 8 through 14 {
            &[data-force='#{$i}'] {
              background-position: ($i - 8) * 100% / 6 100%;
            }
          }
        }

        div.expedition-lvl-container {
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          justify-content: space-between;
          margin-left: 10px;

          button {
            position: relative;
            width: auto;
            cursor: default;
            min-height: 42px;
            font-size: 15px;
            flex-basis: 47%;
            text-overflow: initial;
            white-space: normal;
            margin: 5px 0px;

            .meeple-container {
              font-size: 2.2em;
            }

            &.disabled {
              cursor: not-allowed;
            }
            &.selectable {
              cursor: pointer;

              &.disabled {
                cursor: not-allowed;
                opacity: 0.8;
                overflow: visible;
              }
            }

            &[data-choice-order]::before {
              content: attr(data-choice-order);
              position: absolute;
              top: -5px;
              right: -5px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid black;
              background: red;
              color: white;
              text-align: center;
            }
          }

          &#expedition-lvl-5,
          &#expedition-lvl-6,
          &#expedition-lvl-7,
          &#expedition-lvl-8 {
            button {
              flex-basis: 100%;
            }
          }

          &#expedition-lvl-1 {
            button:first-of-type {
              flex-basis: 100%;
            }
          }

          &#expedition-lvl-9,
          &#expedition-lvl-10 {
            button:first-of-type {
              flex-basis: 30%;
            }
            button:last-of-type {
              flex-basis: 65%;
            }
          }
        }
      }
    }
  }
}

#popin_showRuby.caverna_popin {
  min-height: 300px;
  width: 425px;

  #ruby-container {
    display: grid;
    margin-bottom: 5px;

    #ruby-1 {
      grid-column: 1 / span 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 15px;

      div.ruby-container-header {
        flex-basis: 100%;
      }
    }
    #ruby-2,
    #ruby-1-plus {
      grid-column-end: span 1;
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    div.ruby-container-header {
      text-align: center;
      font-size: 23px;
      margin: 5px 0px 2px;
      font-weight: bold;
      font-family: var(--cavernatisaac-font-family);
    }

    button {
      position: relative;
      width: auto;
      cursor: default;
      min-height: 42px;
      font-size: 15px;
      min-width: 75px;
      text-overflow: initial;
      white-space: normal;
      margin: 5px 4px;

      .meeple-container {
        font-size: 2.2em;
      }

      &.disabled {
        cursor: not-allowed;
      }
      &.selectable {
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
          opacity: 0.8;
          overflow: visible;
        }
      }
    }
  }

  &.active #ruby-container button {
    cursor: pointer;
  }
}

#popin_showExchanges.caverna_popin {
  min-height: 300px;
  width: 700px;

  #popin_showExchanges_contents {
    display: flex;
    flex-flow: column;
    flex-grow: 1;

    h3 {
      background-color: #e6e6e6d1;
      border-bottom: 1px solid #6a4b2f;
      font-family: var(--caverna-font-family);
      font-size: 17px;
      padding: 8px 12px;
      margin: -4px 5px 4px;
    }

    #exchanges-container {
      flex-grow: 1;
      padding: 10px 20px;

      #exchanges-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 7px;
        font-size: 25px;

        .exchange-source {
          font-family: var(--caverna-font-family);
          font-size: 20px;
          text-align: center;
        }
        button.exchange-desc {
          font-size: 22px;
          letter-spacing: 3px;
          cursor: pointer;
          background-color: #f2ebc3b3;
          border: 1px solid #919293;
          border-radius: 0.25rem;
          padding: 0.2rem 0.75rem;
          font-weight: bold;

          &:hover {
            background-color: #e1e1e1;
          }

          &:disabled,
          &:disabled:hover {
            cursor: not-allowed;
            background-color: #d1d3d591;
            filter: grayscale(100%);
            color: black;
            opacity: 0.7;
          }

          .meeple-arrow {
            width: 0.7em;
            height: 0.5em;
            margin: 0 0.5em;
          }
        }

        .exchange-btn-group {
          display: flex;
          background-color: transparent;
          border: 1px solid #919293;
          border-radius: 0.25rem;
          width: 110px;
          overflow: hidden;

          div {
            width: 50px;
            height: 31px;
            font-size: 15px;
            text-align: center;
            background-color: #fff;
            padding: 0.375rem 0.75rem;
            box-sizing: border-box;
            border-left: 1px solid #919293;
            border-right: 1px solid #919293;
          }
          button {
            width: 30px;
            height: 31px;
            background-color: #e9ecef;
            padding: 0.375rem 0.75rem;
            font-weight: bold;

            &:hover {
              background-color: #a0a1a2;
            }
          }
        }
      }
    }

    #exchanges-reserve {
      display: flex;
      background: #fffa;
      margin: 2px 5px 0px;
      padding: 5px;
      justify-content: space-around;
      border-top: 1px solid #6a4b2f;
    }

    #exchanges-dialog-footer {
      min-height: 30px;
      background-color: #e6e6e6d1;
      border-top: 1px solid #6a4b2f;
      margin: 0px 5px 4px;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;
      text-align: right;
      padding: 0px 10px;
    }
  }
}

#popin_showScores.caverna_popin {
  z-index: 2000;
  padding: 0;
  width: auto;
  min-width: 300px;
  box-shadow: 2px 2px 10px black;
  background-color: white;

  #popin_showScores_close {
    width: 35px;
    height: 35px;
    top: -20px;
    right: -20px;
    font-size: 0.75em;
  }

  #popin_showScores_contents {
    table {
      width: 100%;
      border-collapse: collapse;
      font-family: var(--caverna-font-family);

      thead {
        tr {
          border-bottom: 2px solid black;
          border-top: 2px solid black;
          th {
            padding: 2px 15px;
            min-width: 50px;
            height: 50px;
            vertical-align: middle;
            text-align: center;
            border-left: 2px solid black;
            border-right: 2px solid black;
          }
        }
      }

      tbody {
        tr {
          height: 30px;

          &:nth-child(odd) {
            background-color: #ccc;
          }

          &#scores-row-donkey,
          &#scores-row-vegetables,
          &#scores-row-dwarfs,
          &#scores-row-mines,
          &#scores-row-buildingsBonus {
            border-bottom: 1px solid black;
          }

          td {
            vertical-align: top;
            text-align: center;
            word-wrap: anywhere;
            border-left: 2px solid black;
            border-right: 2px solid black;
            min-width: 100px;

            &.row-header {
              text-align: right;
              padding: 4px 12px 3px;
              vertical-align: top;
            }

            .scoring-entry,
            .scoring-subentry {
              display: flex;
              justify-content: flex-end;
              padding: 2px 8px;

              .meeple-container {
                font-size: 1.1em;
                width: 30px;
                .caverna-meeple {
                  margin: auto;
                }
              }

              &.qty-scoring-entry,
              &.scoring-subentry {
                justify-content: space-between;
                padding: 0px 4px;

                > div {
                  padding: 2px 8px;
                  line-height: 28px;
                }

                > div:first-of-type {
                  border-right: 1px solid #7b7b7b91;
                  margin-top: 0px;
                  margin-bottom: 0px;
                  min-width: 48px;
                  height: 28px;
                  text-align: left;
                }
              }
              &.qty-scoring-entry > div:first-of-type {
                min-width: 65px;
                max-width: 65px;
                padding: 2px 0px;
                text-align: center;

                .meeple-farmer {
                  width: 0.9em;
                  height: 1.2em;
                }
                .meeple-stable {
                  width: 0.8em;
                  height: 1.1em;
                }
              }

              i {
                color: #2222229e;
                font-size: 0.8em;
                margin-left: 4px;
                vertical-align: middle;
              }
            }

            .scoring-subentries {
              border-top: 1px solid #8a8a8a59;

              .scoring-subentry {
                font-size: 13px;
                //                background-color:#dfdede;
                > div {
                  padding: 0px 4px;
                }
                > div:first-of-type {
                  border-right: none;
                  height: auto;
                }

                i {
                  margin-left: 1px;
                }
              }
            }
          }

          &#scores-row-total {
            height: 40px;
            border-top: 2px solid black;
            font-size: 1.2em;

            td:nth-of-type(1) {
              background: #515151;
              text-align: center;
              color: white;
              font-family: 'ColibriB';
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

#popin_showSeedPrompt {
  min-height: 200px;

  #popin_showSeedPrompt_contents {
    display: flex;
    flex-flow: column;
    flex-grow: 1;

    #seed-form-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      textarea {
        width: 400px;
        height: 80px;
        background: rgba(255, 255, 255, 0.5);
      }
    }

    #seed-dialog-footer {
      min-height: 30px;
      background-color: #e6e6e6d1;
      border-top: 1px solid #6a4b2f;
      margin: 0px 5px 4px;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;
      text-align: right;
      padding: 0px 10px;
    }
  }
}

#popin_showTour.caverna_popin {
  width: auto;

  #tour-slider-container {
    margin-bottom: 15px;

    .slide {
      width: 500px;
      padding: 10px 15px;
      box-sizing: border-box;

      .bubble {
        position: relative;
        margin: 5px 20px 30px 0px;
        background: white;
        border: 2px solid black;
        border-radius: 10px;
        padding: 4px 8px;

        &::before {
          content: '';
          position: absolute;
          width: 46px;
          height: 50px;
          bottom: -29px;
          right: -25px;
          background-image: url('img/help/uwe.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      &.inactive {
        display: none;
      }

      div.split-hor {
        display: flex;

        &.centered {
          align-items: center;
        }
      }

      ul {
        padding-left: 25px;
        li {
          list-style-type: disc;
          margin-bottom: 4px;
        }
      }

      .tour-btn {
        text-align: right;
        button {
          width: auto;
          margin-bottom: 0px;
        }
      }

      .tour-remark {
        font-style: italic;
        background: rgba(255, 255, 255, 0.4);
        padding: 4px 7px;
        border-radius: 5px;
        border: 1px solid gray;
        font-size: 15px;
      }

      .tour-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 5px 10px;

        &#img-panelInfo {
          width: 250px;
          height: 200px;
          background-image: url('img/help/panel-info.png');
        }

        &#img-centralBoard {
          width: 400px;
          height: 400px;
          background-image: url('img/help/central-board.jpg');
        }

        &#img-harvest {
          width: 100px;
          height: 100px;
          margin: 5px auto;
          background-position: 8.62866% 21.8543%;
          background-size: 2027.72%;
          background-image: url('img/meeples.png');
        }

        &#img-cardsBtn {
          width: 173px;
          height: 100px;
          margin: 50px 10px auto 20px;
          background-image: url('img/help/cardsBtn.png');
        }

        &#img-player-board {
          width: 300px;
          height: 200px;
          background-image: url('img/help/player-board.jpg');
          margin: 0px auto 10px;
        }

        &#img-player-panel {
          width: 200px;
          height: 200px;
          background-image: url('img/help/player-panel.png');
        }

        &#img-cook {
          width: 257px;
          height: 283px;
          background-image: url('img/help/exchange-modal.png');
        }

        &#img-cook-btn {
          width: 100px;
          height: 56px;
          background-image: url('img/help/cook-btn.jpg');
          margin: 8px auto 10px;
        }

        &#img-reorganize {
          width: 157px;
          height: 150px;
          background-image: url('img/help/accomodate.jpg');
          margin-left: 20px;
        }

        &#img-reorganize-btn {
          width: 100px;
          height: 56px;
          background-image: url('img/help/reorganize-btn.jpg');
          margin: 8px auto 10px;
        }

        &#img-reorganize-controls {
          width: 157px;
          height: 150px;
          background-image: url('img/help/accomodate-controls.jpg');
          margin-right: 20px;
        }
      }

      &#tour-slide-intro {
        button {
          width: auto;
          display: block;
        }
      }

      &#tour-slide-panelInfo {
        width: 700px;
      }
      &#tour-slide-centralBoard {
        width: 800px;
      }
      &#tour-slide-centralBoard {
        width: 800px;
      }
      &#tour-slide-boardPanel {
        width: 600px;
      }
      &#tour-slide-cook {
        .tour-remark {
          text-align: center;
        }
      }
    }
  }

  #tour-slide-footer {
    min-height: 30px;
    background-color: #e6e6e6d1;
    border-top: 1px solid #6a4b2f;
    margin: 0px 5px 4px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    text-align: right;
    padding: 5px 15px 0px;
  }
}
