.spectator-mode {
  .roundedbox_top,
  .roundedbox_bottom {
    display: none;
  }
  .roundedbox_main {
    background: transparent !important;
  }
  .roundedboxinner {
    padding: 8px;
    box-sizing: border-box;
  }
}

.player-board#spectatorbox {
  .player_board_inner {
    padding: 5px 10px;
  }
}

.player-board {
  padding: 7px 3px 5px;

  #ebd-body:not(.mobile_version) & {
    width: 242px !important;
  }

  background-image: url("img/action_frame_bg.jpg");
  background-size: 100% 40px;
  border: 1px solid transparent !important;
  background-clip: content-box;

  position: relative;
  box-shadow: none;
  background-color: transparent !important;
  border-radius: 20px !important;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid transparent;
    border-image-slice: 68 164 68 154;
    border-image-width: 34px 82px 34px 77px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("img/action_frame_panel.png");
    z-index: 2;
    box-shadow: none;
    background-color: transparent;
    border-radius: 20px;
    pointer-events: none;
  }
  .mobile_version & {
    margin-right: 2px !important;
  }

  .player_score {
    display: flex;
    align-items: center;

    .fa.fa-star {
      display: none;
    }
    .player-resource.resource-gold {
      margin-left: 3px;
    }
  }

  .player_board_inner {
    padding: 13px 10px 0px;
    [data-resource-bar="1"] & {
      padding: 13px 10px 13px;
    }

    .player-name {
      position: relative;
    }
  }

  .caverna-first-player-holder {
    position: absolute;
    height: 40px;
    right: 49px;
    top: 17px;
    width: 20px;
  }

  .player-resource {
    .reserve {
      & > div.caverna-meeple:not(.moving) {
        display: none;
      }
    }
  }

  .caverna-player-pannel {
    padding: 3px 1px 0px;

    .player-panel-resources,
    .player-panel-personal-resources,
    .player-panel-board-resources {
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      justify-content: space-around;
      position: relative;
      border-top: 1px solid #80502e;

      .player-reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;

        .caverna-meeple:not(.moving):not(.meeple-firstPlayer) {
          display: none;
        }
      }

      .player-resource {
        margin: 4px 0px;
        position: relative;
        flex-basis: 24%;
        text-align: center;

        &.resource-grain,
        &.resource-vegetable,
        &.resource-begging {
          flex-basis: 24%;
        }

        &.resource-food {
          flex-basis: 28%;
        }

        &.resource-begging {
          transition: opacity 0.5s;
          opacity: 1;
          &[data-n="0"] {
            opacity: 0;
          }
        }

        .reserve {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          & > div.caverna-meeple:not(.moving) {
            display: none;
          }
        }

        .resource_stable::after,
        .resource_food::after {
          font-size: 0.7em;
          position: relative;
          top: 5px;
        }
        .resource_stable::after {
          content: "/3";
        }

        .resource_food::after {
          content: attr(data-harvest);
          font-size: 0.75em;
        }
      }
    }

    .player-panel-board-resources {
      .player-resource {
        flex-basis: 20%;
      }
    }

    .player-resource.resource-dwarf {
      flex-basis: 60%;
      display: flex;
      height: 16px;
      margin-top: 29px;
    }

    .player-panel-board-resources {
      padding: 0.25rem 0;

      .meeple-container {
        font-size: 1.1em;
      }

      .resource-dwarf {
        .meeple-container {
          display: none;
          margin-left: -0.6em;

          &:first-of-type {
            margin-left: 0;
          }
        }

        @for $i from 1 to 6 {
          &[data-n="#{$i}"] {
            @for $j from 0 to $i {
              .meeple-container:nth-child(#{$j + 1}) {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .player-panel-personal-resources {
      border-top: 1px solid #80502e;
      justify-content: space-between;
      .player-resource {
        flex-basis: 33%;
      }

      .resource-stable {
        margin-top: 8px;
        flex-basis: auto;
      }
    }
  }

  .colorblind & .caverna-player-pannel .meeple-dwarf_icon {
    background-image: url("img/dwarfs_colorblind.png");
  }
}

.caverna-player-pannel[data-color="ff0000"] {
  .meeple-barn {
    background-position-x: #{0 * 100% / 7};
  }
}
.caverna-player-pannel[data-color="008000"] {
  .meeple-barn {
    background-position-x: #{1 * 100% / 7};
  }
}
.caverna-player-pannel[data-color="72c3b1"] {
  .meeple-barn  {
    background-position-x: #{2 * 100% / 7};
  }
}
.caverna-player-pannel[data-color="982fff"] {
  .meeple-barn  {
    background-position-x: #{3 * 100% / 7};
  }
}
.caverna-player-pannel[data-color="aa9702"] {
  .meeple-barn {
    background-position-x: #{4 * 100% / 7};
  }
}
.caverna-player-pannel[data-color="df7605"] {
  .meeple-barn {
    background-position-x: #{5 * 100% / 7};
  }
}
.caverna-player-pannel[data-color="2a05df"] {
  .meeple-barn {
    background-position-x: #{6 * 100% / 7};
  }
}

///////////////////////////////////////
/// DWARF SUMMARY
.player-resource.resource-dwarf {
  .dwarf-on-action,
  .dwarf-on-board,
  .dwarf-in-reserve {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0px 2px;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }

  .dwarf-on-action {
    padding-left: 7px;
    min-width: 25px;
    background-image: url("img/background_card.jpg");
    background-size: 200px;
    background-position: 100px 183px;
  }

  .dwarf-on-board {
    min-width: 28px;
    background: #7a6b64;
    border-right: none;
    border-left: none;
  }

  .dwarf-in-reserve {
    opacity: 0.6;
    border: 1px solid black;
    border-left: none;
    background: white;
    border-top-right-radius: 5px;
    .meeple-dwarf {
      filter: grayscale(0.5);
      transform: scale(0.7);
      margin-left: -17px;

      &:first-of-type {
        margin-left: 0px;
      }
    }

    &[data-potential-growth="0"] .meeple-dwarf {
      display: none;
    }

    @for $i from 1 to 5 {
      &[data-potential-growth="#{$i}"] .meeple-dwarf:nth-child(#{$i}) ~ .meeple-dwarf {
        display: none;
      }
    }
  }

  .meeple-dwarf {
    width: 23px;
    height: 19px;
    margin-top: -13px;

    .meeple-weapon {
      transform: scale(0.7);
      transform-origin: -4px 0px;
    }

    [data-dwarf="1"] &,
    [data-dwarf="2"] & {
      width: 25px;
      height: 32px;
      margin-top: -23px;

      .meeple-weapon {
        transform: scale(0.63);
        transform-origin: -2px 10px;
      }
    }
  }
}

/****************************************
*** WHEN PLAYER PANEL IS ON THE BOARD ***
****************************************/
.resources-bar-holder {
  position: relative;

  .caverna-player-pannel {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 62px;

    .caverna-first-player-holder {
      position: absolute;
      top: 22px;
      right: 5px;
    }

    .player-panel-resources,
    .player-panel-board-resources {
      border-right: 1px solid black;
      grid-column: 1;
    }

    .player-panel-resources {
      border-bottom: 1px solid #797777;
    }

    .player-panel-resources,
    .player-panel-personal-resources,
    .player-panel-board-resources {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 2px 4px;
      flex-wrap: wrap;
      font-size: 17px;
      position: relative;

      .player-reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;

        .caverna-meeple:not(.moving):not(.meeple-firstPlayer) {
          display: none;
        }
      }

      .player-resource {
        margin: 0px 4px 0px 0px;
        position: relative;
        text-align: center;

        &.resource-begging[data-n="0"] {
          display: none;
        }

        .reserve {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          & > div.caverna-meeple:not(.moving) {
            display: none;
          }
        }

        .resource_stable::after,
        .resource_food::after {
          font-size: 0.7em;
          position: relative;
          top: 5px;
        }

        .resource_stable::after {
          content: "/3";
        }

        .resource_food::after {
          content: attr(data-harvest);
          font-size: 0.75em;
        }
      }
    }

    .player-panel-personal-resources {
      grid-row: 1 / span 2;
      grid-column: 2;
      justify-content: space-between;
      padding: 0px;
    }

    .player-resource.resource-stable {
      margin-top: 30px;
      margin-right: 35px;
    }

    .player-resource.resource-dwarf {
      flex-basis: 60%;
      display: flex;
      height: 16px;
      margin-top: 51px;
      margin-left: -1px;
    }
  }
  /*  data-color="${player.color}"*/
}
