:root {
  --cavernaBuildingScale: 0.8;

  --cavernaCentralBoardScale: 1;
  --cavernaPlayerBoardScale: 1;
}

.dijitTooltipContainer {
  --cavernaBuildingScale: 1;

  .player-card .player-card-resizable .player-card-inner .card-frame {
    box-shadow: none;
  }
}
